@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Leckerli+One&display=swap');
.about-section1{
  background-image: linear-gradient(rgba(10, 79, 119, 0.4), rgba(1, 59, 66, 0.4)), url('./images/wall5.jpg');
  background-size: cover;
  height: 80vh;
  color: #fff;
  font-size: 1.4rem;
}
.navigation {
  display: flex;justify-content: space-between;
  padding: 10px 40px;
}
.container.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}
.about-h1{
  font-size: 4.3rem;
}
.logo a {
  font-family: 'Leckerli one', cursive;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  font-size: 30px;
}
.logo a:hover {
  color: #087697;
}
.nav li a {
  color: #000;
}
.nav li a:hover {
  color: #087697;
}

h2{
  font-size: 3rem;
  color: #557B83;
  padding-bottom: 5px;
}

.text-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
button{
  margin-top: 20px;
}

section{
  padding: 10px;
}

.paint-img{
  height:420px;
  width: 600px;
  object-fit: cover;
}

.info-div{
padding: 30px;
}

.profile-status{
  width: 300px;
  padding: 20px 0 ;
  background-color: #557B83;
}

.profile-status2{
  width: 300px;
  padding: 20px 0 ;
  background-color: #EEEEEE;
}
.icon {
  width: 100px;
}
footer {
  background-color: #3B4546;
  color: #E3D4B6;
  margin-top: 20px;
  padding: 10px 40px;
}
.footer-info {
  display: flex;
  justify-content: space-around;
  padding: 50px 0 20px 0;
}
.footer-info h5 {
  color: #fff;
}
.footer-info .links ul {
  list-style-type: none;
}
.footer-info .links ul li a {
  color: #E3D4B6;
}
.footer-info .links ul li a:hover {
  color: #fff;
}